<div class="container-mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h1 class="top-title"><span><span>一人暮らしの方に送る</span><span>おすすめ料理を紹介!</span></span></h1>
      <h2 class="top-subtitle"><span><span>キーワードを選択するだけ!!</span></span></h2>
      <div class="f-container">
        <%= link_to select_path, class: "btn btn-outline-dark btn-item" do %>
            診断する
        <% end %>
        <%= link_to new_contact_path, class: "btn btn-outline-dark btn-item" do %>
            ご意見、ご感想はこちらから
        <% end %>
      </div>
    </div>
  </div>
</div>