// Place all the styles related to the select controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.element-select{
  font-size: 15px;
  background-color: #00afcc;
  opacity: 0.3;
}